---
title: Courses with Friends
---
<nav class="header">
  	<a href="/" id="title">Courses with Friends</a>
  		<div class="nav-section">
  			<a href="/classes">Classes</a>
  			<a href="#">Settings</a>
  		</div>
</nav>
<!--<div class="header">
  <h1>Courses with Friends</h1>
  <ul class="nav">
	  <li><a href="#">Classes</a></li>
	  <li><a href="#">Settings</a></li>
	</ul>
</div>-->
  <div id="test-list">
    <input type="text" placeholder="search for classes..." class="fuzzy-search" />
    <ul class="list classes">
    </ul>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>
<script src="javascripts/friends.js"></script>